In [1]:
import pandas as pd

In [2]:
datasets = pd.read_csv('/home/adel/Documents/Code/Ant-Miner/datasets/multi_label/cleaned/emotions.csv')
datasets.head()

,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,attr10,...,attr69,attr70,attr71,attr72,label1,label2,label3,label4,label5,label6
0,0,0,3,2,3,2,3,3,4,2,...,0,1,1,0,0,1,1,0,0,0
1,3,3,2,4,1,1,0,2,0,0,...,0,2,2,2,1,0,0,0,0,1
2,4,3,2,4,0,2,1,3,0,3,...,1,1,0,1,0,1,0,0,0,1
3,1,2,4,0,3,2,2,4,1,4,...,0,0,2,0,0,0,1,0,0,0
4,3,1,1,0,3,3,0,3,1,2,...,0,1,2,1,0,0,0,1,0,0

In [3]:
# drop class
X = datasets.drop(columns=['label1', 'label2', 'label3', 'label4', 'label5', 'label6'])

# save X
X.to_csv('/home/adel/Documents/Code/Ant-Miner/datasets/emotions_X.csv', index=False)