In [93]:
import pandas as pd
from scipy.io import arff

In [144]:
load_path = "C:\\Users\\mokad\\Desktop\\segment0.dat"
save_path = "C:\\Users\\mokad\\Documents\\Github\\Ant-Miner\\datasets\\SLC"

In [145]:
cols = [
    "Region-centroid-col","Region-centroid-row","Region-pixel-count",
    "Short-line-density-5","Short-line-density-2",
    "Vedge-mean","Vegde-sd","Hedge-mean","Hedge-sd",
    "Intensity-mean","Rawred-mean","Rawblue-mean","Rawgreen-mean",
    "Exred-mean","Exblue-mean","Exgreen-mean",
    "Value-mean","Saturatoin-mean","Hue-mean","Class"
]

df = pd.read_csv(
    load_path,
    comment='@',
    header=None,
    names=cols,
    skipinitialspace=True
)

In [146]:
df

,Region-centroid-col,Region-centroid-row,Region-pixel-count,Short-line-density-5,Short-line-density-2,Vedge-mean,Vegde-sd,Hedge-mean,Hedge-sd,Intensity-mean,Rawred-mean,Rawblue-mean,Rawgreen-mean,Exred-mean,Exblue-mean,Exgreen-mean,Value-mean,Saturatoin-mean,Hue-mean,Class
0,218.0,178.0,9,0.111111,0.0,0.833333,0.547722,1.111109,0.544331,59.629630,52.444443,75.222220,51.222220,-21.555555,46.777780,-25.222221,75.222220,0.318996,-2.040554,negative
1,113.0,130.0,9,0.000000,0.0,0.277778,0.250924,0.333333,0.365148,0.888889,0.000000,2.555556,0.111111,-2.666667,5.000000,-2.333333,2.555556,1.000000,-2.123254,negative
2,202.0,41.0,9,0.000000,0.0,0.944448,0.772202,1.111112,1.025597,123.037040,111.888885,139.777790,117.444440,-33.444443,50.222220,-16.777779,139.777790,0.199347,-2.299918,negative
3,32.0,173.0,9,0.000000,0.0,1.722222,1.781593,9.000000,6.749488,43.592594,39.555557,52.888890,38.333336,-12.111111,27.888890,-15.777778,52.888890,0.266914,-1.998857,negative
4,61.0,197.0,9,0.000000,0.0,1.444444,1.515353,2.611111,1.925463,49.592594,44.222220,61.555557,43.000000,-16.111110,35.888890,-19.777779,61.555557,0.302925,-2.022274,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2303,45.0,149.0,9,0.000000,0.0,2.500000,3.322223,0.666666,0.266666,16.814816,13.444445,23.777779,13.222222,-10.111111,20.888890,-10.777778,23.777779,0.453341,-2.069251,negative
2304,30.0,102.0,9,0.000000,0.0,1.222222,0.118518,1.333333,0.800000,20.259260,20.333334,25.000000,15.444445,0.222222,14.222222,-14.444445,25.000000,0.381059,-1.555097,positive
2305,143.0,24.0,9,0.000000,0.0,1.277777,0.907406,0.888888,1.140749,127.629630,117.666664,141.666670,123.555560,-29.888890,42.111110,-12.222222,141.666670,0.169397,-2.349252,negative
2306,80.0,72.0,9,0.000000,0.0,1.222223,1.003697,1.444444,1.167461,59.000000,51.333332,74.444440,51.222220,-23.000000,46.333332,-23.333334,74.444440,0.314606,-2.090221,negative
2307,98.0,133.0,9,0.000000,0.0,0.555555,0.172133,0.388889,0.327731,0.962963,0.000000,2.777778,0.111111,-2.888889,5.444445,-2.555556,2.777778,1.000000,-2.123254,negative

In [147]:
df['Class'] = df['Class'].replace({"negative": 'neg', "positive": 'pos'})
df.rename(columns={"Class": "class"}, inplace=True)

In [148]:
# number of unique values per column
for col in df.columns:
    unique_values = df[col].nunique()
    print(f"Column '{col}' has {unique_values} unique values.")

Column 'Region-centroid-col' has 253 unique values.
Column 'Region-centroid-row' has 238 unique values.
Column 'Region-pixel-count' has 1 unique values.
Column 'Short-line-density-5' has 4 unique values.
Column 'Short-line-density-2' has 3 unique values.
Column 'Vedge-mean' has 647 unique values.
Column 'Vegde-sd' has 1792 unique values.
Column 'Hedge-mean' has 702 unique values.
Column 'Hedge-sd' has 1799 unique values.
Column 'Intensity-mean' has 1270 unique values.
Column 'Rawred-mean' has 681 unique values.
Column 'Rawblue-mean' has 781 unique values.
Column 'Rawgreen-mean' has 691 unique values.
Column 'Exred-mean' has 430 unique values.
Column 'Exblue-mean' has 636 unique values.
Column 'Exgreen-mean' has 376 unique values.
Column 'Value-mean' has 785 unique values.
Column 'Saturatoin-mean' has 1897 unique values.
Column 'Hue-mean' has 1935 unique values.
Column 'class' has 2 unique values.

In [151]:
df['Short-line-density-5'] = df['Short-line-density-5'].replace({0.000000: 'zeros', 0.111111: 'ones', 0.222222: 'twos', 0.333333: 'threes'})
df['Short-line-density-2'] = df['Short-line-density-2'].replace({0.000000: 'zeros', 0.111111: 'ones', 0.222222: 'twos'})

In [152]:
# nb of duplicates
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

# missing values
missing_values = df.isnull().sum().sum()
print(f"Number of missing values: {missing_values}")

Number of duplicate rows: 224
Number of missing values: 0

In [153]:
# columns with one unique value
one_unique = [col for col in df.columns if df[col].nunique() == 1]
df.drop(columns=one_unique, inplace=True)
print(f"Dropped columns with one unique value: {one_unique}")

Dropped columns with one unique value: ['Region-pixel-count']

In [154]:
for col in df.columns:
    if col not in ['class', 'Short-line-density-5', 'Short-line-density-2']:
        df[col] = pd.cut(df[col], bins=20, labels=[str(i) for i in range(20)])
df

,Region-centroid-col,Region-centroid-row,Short-line-density-5,Short-line-density-2,Vedge-mean,Vegde-sd,Hedge-mean,Hedge-sd,Intensity-mean,Rawred-mean,Rawblue-mean,Rawgreen-mean,Exred-mean,Exblue-mean,Exgreen-mean,Value-mean,Saturatoin-mean,Hue-mean,class
0,17,13,0.111111,zeros,0,0,0,0,8,7,9,7,9,12,2,9,6,3,neg
1,8,9,zeros,zeros,0,0,0,0,0,0,0,0,15,3,10,0,19,3,neg
2,15,2,zeros,zeros,0,0,0,0,17,16,18,16,5,13,5,18,3,2,neg
3,2,13,zeros,zeros,1,0,4,0,6,5,7,5,12,8,6,7,5,3,neg
4,4,15,zeros,zeros,0,0,1,0,6,6,8,6,11,10,4,8,6,3,neg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2303,3,11,zeros,zeros,1,0,0,0,2,1,3,1,13,7,7,3,9,3,neg
2304,2,7,zeros,zeros,0,0,0,0,2,2,3,2,16,5,6,3,7,4,pos
2305,11,1,zeros,zeros,0,0,0,0,17,17,18,17,6,11,7,18,3,2,neg
2306,6,5,zeros,zeros,0,0,0,0,8,7,9,7,8,12,3,9,6,3,neg
2307,7,10,zeros,zeros,0,0,0,0,0,0,0,0,15,3,10,0,19,3,neg

In [155]:
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 306

In [156]:
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)
df

,Region-centroid-col,Region-centroid-row,Short-line-density-5,Short-line-density-2,Vedge-mean,Vegde-sd,Hedge-mean,Hedge-sd,Intensity-mean,Rawred-mean,Rawblue-mean,Rawgreen-mean,Exred-mean,Exblue-mean,Exgreen-mean,Value-mean,Saturatoin-mean,Hue-mean,class
0,17,13,0.111111,zeros,0,0,0,0,8,7,9,7,9,12,2,9,6,3,neg
1,8,9,zeros,zeros,0,0,0,0,0,0,0,0,15,3,10,0,19,3,neg
2,15,2,zeros,zeros,0,0,0,0,17,16,18,16,5,13,5,18,3,2,neg
3,2,13,zeros,zeros,1,0,4,0,6,5,7,5,12,8,6,7,5,3,neg
4,4,15,zeros,zeros,0,0,1,0,6,6,8,6,11,10,4,8,6,3,neg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,15,14,zeros,zeros,1,0,1,0,7,7,9,6,10,11,3,9,6,3,neg
1998,3,11,zeros,zeros,1,0,0,0,2,1,3,1,13,7,7,3,9,3,neg
1999,2,7,zeros,zeros,0,0,0,0,2,2,3,2,16,5,6,3,7,4,pos
2000,6,5,zeros,zeros,0,0,0,0,8,7,9,7,8,12,3,9,6,3,neg
2001,7,10,zeros,zeros,0,0,0,0,0,0,0,0,15,3,10,0,19,3,neg

In [157]:
df.to_csv(f"{save_path}/segment0.csv", index=False)