In [1]:
import pandas as pd
from sklearn.datasets import load_svmlight_file

In [4]:
input_file = "C:\\Users\\mokad\\Desktop\\a1a.txt"
output_csv = "C:\\Users\\mokad\\Documents\\Github\\Ant-Miner\\datasets\\SLC\\a1a.csv"

In [25]:
X_sparse, y = load_svmlight_file(input_file, n_features=123)

df = pd.DataFrame(X_sparse.todense())
df.insert(0, "class", y)

In [26]:
df.columns = ["class"] + [f"attr{i}" for i in range(1, df.shape[1])]
df

,class,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,...,attr114,attr115,attr116,attr117,attr118,attr119,attr120,attr121,attr122,attr123
0,-1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1600,-1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1601,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1602,-1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1603,-1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1604,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
df['class'] = df['class'].apply(lambda x: 'pos' if x == 1.0 else 'neg')

for col in df.columns:
    if col != 'class':
        df[col] = df[col].apply(lambda x: '1' if x == 1.0 else '0')

In [28]:
df

,class,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,...,attr114,attr115,attr116,attr117,attr118,attr119,attr120,attr121,attr122,attr123
0,neg,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,neg,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,neg,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,neg,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,neg,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1600,neg,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1601,neg,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1602,neg,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1603,neg,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1604,neg,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
for col in df.columns:
    if df[col].nunique() == 1:
        print(f"Column {col} has only one unique value: {df[col].unique()}")
        df.drop(columns=[col], inplace=True)

Column attr12 has only one unique value: ['0']
Column attr60 has only one unique value: ['0']
Column attr89 has only one unique value: ['0']
Column attr96 has only one unique value: ['0']
Column attr111 has only one unique value: ['0']
Column attr116 has only one unique value: ['0']
Column attr120 has only one unique value: ['0']
Column attr121 has only one unique value: ['0']
Column attr122 has only one unique value: ['0']
Column attr123 has only one unique value: ['0']

In [34]:
df.to_csv(output_csv, index=False)