In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('/home/adel/Documents/Code/Ant-Miner/datasets/car.csv', dtype=str)
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [4]:
# transform all columns to string
for col in df.columns:
    df[col] = df[col].astype(str)

In [6]:
df.dtypes

age            object
menopause      object
tumor-size     object
inv-nodes      object
node-caps      object
deg-malig      object
breast         object
breast-quad    object
irradiat       object
class          object
dtype: object

In [7]:
# save dataframe
df.to_csv('/home/adel/Documents/Code/Ant-Miner/datasets/ljubljana_1.csv', index=False)

In [24]:
for column in df.select_dtypes(include=['object']).columns:
    df.fillna({column: 'unknown'}, inplace=True)

In [25]:
df.describe()

,age,bilirubin,alk_phosphate,sgot,albumin,protime
count,155.000000,149.000000,126.000000,151.00000,139.000000,88.000000
mean,41.200000,1.427517,105.325397,85.89404,3.817266,61.852273
std,12.565878,1.212149,51.508109,89.65089,0.651523,22.875244
min,7.000000,0.300000,26.000000,14.00000,2.100000,0.000000
25%,32.000000,0.700000,74.250000,31.50000,3.400000,46.000000
50%,39.000000,1.000000,85.000000,58.00000,4.000000,61.000000
75%,50.000000,1.500000,132.250000,100.50000,4.200000,76.250000
max,78.000000,8.000000,295.000000,648.00000,6.400000,100.000000

In [26]:
df['age'] = pd.cut(df['age'], bins=range(0, 80, 10), right=False)
df['bilirubin'] = pd.cut(df['bilirubin'], bins=range(0, 10, 10), right=False)
df['alk_phosphate'] = pd.cut(df['alk_phosphate'], bins=range(0, 300, 10), right=False)
df['sgot'] = pd.cut(df['sgot'], bins=range(0, 700, 10), right=False)
df['albumin'] = pd.cut(df['albumin'], bins=range(0, 7, 7), right=False)
df['protime'] = pd.cut(df['protime'], bins=range(0, 101, 10), right=False)

In [27]:
missing_values = df.isnull().sum()
missing_values[missing_values > 0]

age                3
bilirubin        155
alk_phosphate     30
sgot               4
albumin          155
protime           78
dtype: int64

In [28]:
for column in df.columns:
    df[column] = df[column].astype(str)

In [29]:
missing_values = df.isnull().sum()
missing_values[missing_values > 0]

Series([], dtype: int64)

In [30]:
for column in df.columns:
    df[column].replace({'nan': 'unknown'}, inplace=True)

/tmp/ipykernel_19385/3324484430.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].replace({'nan': 'unknown'}, inplace=True)

In [31]:
# replace die with pos and live with neg
df['class'] = df['class'].replace({'die': 'pos', 'live': 'neg'})

In [32]:
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,"[30, 40)",male,False,False,False,False,False,False,False,False,False,False,False,unknown,"[80, 90)","[10, 20)",unknown,unknown,False,neg
1,"[50, 60)",female,False,False,True,False,False,False,False,False,False,False,False,unknown,"[130, 140)","[40, 50)",unknown,unknown,False,neg
2,unknown,female,True,False,True,False,False,True,False,False,False,False,False,unknown,"[90, 100)","[30, 40)",unknown,unknown,False,neg
3,"[30, 40)",female,unknown,True,False,False,False,True,False,False,False,False,False,unknown,"[40, 50)","[50, 60)",unknown,"[80, 90)",False,neg
4,"[30, 40)",female,True,False,False,False,False,True,False,False,False,False,False,unknown,unknown,"[200, 210)",unknown,unknown,False,neg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,"[40, 50)",female,True,False,True,True,True,True,False,False,True,True,True,unknown,unknown,"[240, 250)",unknown,"[50, 60)",True,pos
151,"[40, 50)",female,True,False,True,False,False,True,True,False,False,False,False,unknown,"[120, 130)","[140, 150)",unknown,unknown,True,neg
152,"[60, 70)",female,False,False,True,True,False,False,True,False,True,False,False,unknown,"[70, 80)","[20, 30)",unknown,unknown,True,neg
153,"[50, 60)",male,False,False,True,False,False,True,False,True,True,False,True,unknown,"[80, 90)","[10, 20)",unknown,"[40, 50)",True,neg
154,"[40, 50)",female,True,False,True,False,False,True,False,True,True,True,False,unknown,"[100, 110)","[10, 20)",unknown,"[40, 50)",True,pos

In [33]:
df.to_csv('/home/adel/Documents/Code/Ant-Miner/datasets/hepatitis_c.csv', index=False)

# Ljubljana dataset

In [34]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
breast_cancer = fetch_ucirepo(id=14) 
  
# data (as pandas dataframes) 
X = breast_cancer.data.features 
y = breast_cancer.data.targets 
  
# metadata 
print(breast_cancer.metadata) 
  
# variable information 
print(breast_cancer.variables)

df = pd.concat([X, y], axis=1)
df

{'uci_id': 14, 'name': 'Breast Cancer', 'repository_url': 'https://archive.ics.uci.edu/dataset/14/breast+cancer', 'data_url': 'https://archive.ics.uci.edu/static/public/14/data.csv', 'abstract': 'This breast cancer domain was obtained from the University Medical Centre, Institute of Oncology, Ljubljana, Yugoslavia. This is one of three domains provided by the Oncology Institute that has repeatedly appeared in the machine learning literature. (See also lymphography and primary-tumor.)', 'area': 'Health and Medicine', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 286, 'num_features': 9, 'feature_types': ['Categorical'], 'demographics': ['Age'], 'target_col': ['Class'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1988, 'last_updated': 'Thu Mar 07 2024', 'dataset_doi': '10.24432/C51P4M', 'creators': ['Matjaz Zwitter', 'Milan Soklic'], 'intro_paper': None, 'additional_info': {'summary': 'This data set includes 201 instances of one class and 85 instances of another class.  The instances are described by 9 attributes, some of which are linear and some are nominal.\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '   1. Class: no-recurrence-events, recurrence-events\r\n   2. age: 10-19, 20-29, 30-39, 40-49, 50-59, 60-69, 70-79, 80-89, 90-99.\r\n   3. menopause: lt40, ge40, premeno.\r\n   4. tumor-size: 0-4, 5-9, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40-44, 45-49, 50-54, 55-59.\r\n   5. inv-nodes: 0-2, 3-5, 6-8, 9-11, 12-14, 15-17, 18-20, 21-23, 24-26, 27-29, 30-32, 33-35, 36-39.\r\n   6. node-caps: yes, no.\r\n   7. deg-malig: 1, 2, 3.\r\n   8. breast: left, right.\r\n   9. breast-quad: left-up, left-low, right-up,\tright-low, central.\r\n  10. irradiat:\tyes, no.', 'citation': 'Obtained from the University Medical Centre, Institute of Oncology, Ljubljana, Yugoslavia.  Thanks go to M. Zwitter and M. Soklic for providing the data.  Please include this citation if you plan to use this database:\nMatjaz Zwitter & Milan Soklic (physicians)\nInstitute of Oncology \nUniversity Medical Center\nLjubljana, Yugoslavia'}}
          name     role         type demographic  \
0        Class   Target       Binary        None
1          age  Feature  Categorical         Age
2    menopause  Feature  Categorical        None
3   tumor-size  Feature  Categorical        None
4    inv-nodes  Feature  Categorical        None
5    node-caps  Feature       Binary        None
6    deg-malig  Feature      Integer        None
7       breast  Feature       Binary        None
8  breast-quad  Feature  Categorical        None
9     irradiat  Feature       Binary        None

                                         description  units missing_values
0            no-recurrence-events, recurrence-events   None             no
1  10-19, 20-29, 30-39, 40-49, 50-59, 60-69, 70-7...  years             no
2                                lt40, ge40, premeno   None             no
3  0-4, 5-9, 10-14, 15-19, 20-24, 25-29, 30-34, 3...   None             no
4   0-2, 3-5, 6-8, 9-11, 12-14, 15-17, 18-20, 21-...   None             no
5                                            yes, no   None            yes
6                                            1, 2, 3   None             no
7                                        left, right   None             no
8   left-up, left-low, right-up,\tright-low, central   None            yes
9                                            yes, no   None             no

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,Class
0,30-39,premeno,30-34,0-2,no,3,left,left_low,no,no-recurrence-events
1,40-49,premeno,20-24,0-2,no,2,right,right_up,no,no-recurrence-events
2,40-49,premeno,20-24,0-2,no,2,left,left_low,no,no-recurrence-events
3,60-69,ge40,15-19,0-2,no,2,right,left_up,no,no-recurrence-events
4,40-49,premeno,0-4,0-2,no,2,right,right_low,no,no-recurrence-events
...,...,...,...,...,...,...,...,...,...,...
281,30-39,premeno,30-34,0-2,no,2,left,left_up,no,recurrence-events
282,30-39,premeno,20-24,0-2,no,3,left,left_up,yes,recurrence-events
283,60-69,ge40,20-24,0-2,no,1,right,left_up,no,recurrence-events
284,40-49,ge40,30-34,5-Mar,no,3,left,left_low,no,recurrence-events
285,50-59,ge40,30-34,5-Mar,no,3,left,left_low,no,recurrence-events

In [35]:
df.dtypes

age            object
menopause      object
tumor-size     object
inv-nodes      object
node-caps      object
deg-malig       int64
breast         object
breast-quad    object
irradiat       object
Class          object
dtype: object

In [44]:
# drop duplicates
df = df.drop_duplicates()

In [47]:
df.fillna('unknown', inplace=True)

/tmp/ipykernel_19385/3438581698.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna('unknown', inplace=True)

In [48]:
missing_values = df.isnull().sum()
missing_values[missing_values > 0]

Series([], dtype: int64)

In [49]:
df.describe()

        deg-malig
count  272.000000
mean     2.058824
std      0.736649
min      1.000000
25%      2.000000
50%      2.000000
75%      3.000000
max      3.000000

In [54]:
df['deg-malig'] = df['deg-malig'].astype(str)

/tmp/ipykernel_19385/2578815336.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['deg-malig'] = df['deg-malig'].astype(str)

In [58]:
# rename Class with class
df.rename(columns={'Class': 'class'}, inplace=True)

/tmp/ipykernel_19385/732483995.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Class': 'class'}, inplace=True)

In [59]:
df['class'] = df['class'].replace({'recurrence-events': 'pos', 'no-recurrence-events': 'neg'})

/tmp/ipykernel_19385/800775641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class'] = df['class'].replace({'recurrence-events': 'pos', 'no-recurrence-events': 'neg'})

In [60]:
df

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,class
0,30-39,premeno,30-34,0-2,no,3,left,left_low,no,neg
1,40-49,premeno,20-24,0-2,no,2,right,right_up,no,neg
2,40-49,premeno,20-24,0-2,no,2,left,left_low,no,neg
3,60-69,ge40,15-19,0-2,no,2,right,left_up,no,neg
4,40-49,premeno,0-4,0-2,no,2,right,right_low,no,neg
...,...,...,...,...,...,...,...,...,...,...
281,30-39,premeno,30-34,0-2,no,2,left,left_up,no,pos
282,30-39,premeno,20-24,0-2,no,3,left,left_up,yes,pos
283,60-69,ge40,20-24,0-2,no,1,right,left_up,no,pos
284,40-49,ge40,30-34,5-Mar,no,3,left,left_low,no,pos
285,50-59,ge40,30-34,5-Mar,no,3,left,left_low,no,pos

In [61]:
df.to_csv('/home/adel/Documents/Code/Ant-Miner/datasets/ljubljana.csv', index=False)